<!doctype html>
<!--suppress ALL -->
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>PhoneBook</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/style.css">
    <style>
        .fade {
            transition: opacity 0.5s linear !important;
        }
    </style>
</head>
<body>
<span th:if="${perror}">
       <div  id="errortip" class="toast align-items-center" role="alert" aria-live="assertive" aria-atomic="true" data-animation="true" data-autohide="true" data-delay="5000" style="position: absolute; bottom: 50px;right: 0; background-color: red;color:#ffffff;width: 360px;">
      <div class="d-flex">
          <span data-feather="alert-circle" style="margin-top: 15px;margin-left: 20px;"></span>
        <div class="toast-body" th:text="${perror}"></div>
        <button type="button" class="btn-close me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
      </div>
    </div>
</span>
<span th:if="${success}">
       <div  id="errortip" class="toast align-items-center" role="alert" aria-live="assertive" aria-atomic="true" data-animation="true" data-autohide="true" data-delay="5000" style="position: absolute; bottom: 50px;right: 0; background-color: green;color:#ffffff;width: 300px;">
      <div class="d-flex">
          <span data-feather="check-circle" style="margin-top: 15px;margin-left: 20px;"></span>
        <div class="toast-body" th:text="${success}"></div>
        <button type="button" class="btn-close me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
      </div>
    </div>
</span>
<span th:if="${eerror}">
    <div  id="errortip" class="toast align-items-center" role="alert" aria-live="assertive" aria-atomic="true" data-animation="true" data-autohide="true" data-delay="5000" style="position: absolute; bottom: 50px;right: 0; background-color: red;color:#ffffff;width: 360px;">
      <div class="d-flex">
          <span data-feather="alert-circle" style="margin-top: 15px;margin-left: 20px;"></span>
        <div class="toast-body" th:text="${eerror}"></div>
        <button type="button" class="btn-close me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
      </div>
    </div>
</span>

<div class="bg-contact100">
    <div class="container-contact100 ui-widget-shadow">
        <div class="wrap-contact100">
            <div class="contact100-pic js-tilt" data-tilt>
                <img src="https://i.imgur.com/VRFiMzM.png" alt="IMG">
            </div>
            <form class="contact100-form validate-form" method="post" action="/save/contact">
                    <span class="contact100-form-title">
                        Add Contacts to phonebook
                    </span>
                <div class="wrap-input100 validate-input">
                    <label for="name" class="form-label">Contact name</label>
                    <input class="input100" type="text" name="name" autocomplete="off" required minlength="3" maxlength="20">

                </div>
                <div class="wrap-input100 validate-input">
                    <label for="name" class="form-label">Phone/Mobile number</label>
                    <input class="input100" type="text" name="number" autocomplete="off" required minlength="3" maxlength="20">
                </div>
<!--                <span style="color:red" th:text="${perror}" th:if="${perror}"></span>-->
                <div class="wrap-input100 validate-input">
                    <label for="email" class="form-label">E-mail address</label>
                    <input class="input100" type="text" name="email" autocomplete="off" >
                </div>

                <div class="wrap-input100 validate-input">
                    <label for="category" class="form-label">category</label>
                    <select class="input100" name="category" required>
                        <option value="Emergency">Emergency</option>
                        <option value="goverment_offices">Goverment Office</option>
                        <option value="Schoo/college">School/college</option>
                        <option value="Schoo/college">Person</option>

                    </select>
                </div>
                <div class="container-contact100-form-btn">
                    <button class="contact100-form-btn" type="submit" onclick="addToast()">
                        Add to contact
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/feather-icons/dist/feather.min.js"></script>
<script>
    feather.replace()
</script>
<script>
    setTimeout(() => {
        $("#errortip").toast('show')
    }, 0)
</script>
</body>
</html>